.todo {
    width: 100%;
    background-color: rgba(0, 183, 255, 0.705);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 3px
}

.text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 6px;
}

.edit {
    display: flex;
    cursor: pointer;
    padding: 4px;
    border-radius: 3px;
    background-color: rgb(115, 209, 246);
}

.del-icon {
    display: flex;
    cursor: pointer;
    padding: 4px;
    border-radius: 3px;
    background-color: rgb(115, 209, 246);
}